.header {
  max-width: 880px;
  min-height: 76px;
  margin: 45px auto 40px;
  border-bottom: 1px solid #545454;
}
@media (max-width: 1000px) {
  .header {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .header {
    min-height: 66px;
  }
}
