.header__logo-link {
  display: block;
  max-width: 142px;
  min-height: 33px;
  background-image: url(../../../images/svg/logo.svg);
  background-size: cover;
  color: #fff;
}
.header__logo-link:hover {
  opacity: 0.6;
}
@media (max-width: 830px) {
  .header__logo-link {
    margin-left: 60px;
  }
}
@media (max-width: 500px) {
  .header__logo-link {
    max-width: 103px;
    min-height: 24px;
    margin-left: 30px;
  }
}
@media (max-width: 350px) {
  .header__logo-link {
    margin-left: 27px;
    margin-top: 28px;
  }
}
