.rectangle_big {
  width: 100%;
  height: 361px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  position: relative;
}
.rectangle_big:hover {
  opacity: 1;
}
