.modal__button {
  width: 100%;
  min-height: 50px;
  background-color: black;
  color: #fff;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 500px) {
  .modal__button {
    min-height: 46px;
  }
}
