.element__button {
  width: 22px;
  height: 19px;
  border: none;
  padding: 0;
  margin-right: 20px;
  background: transparent;
  background-image: url(../../../images/svg/like.svg);
  cursor: pointer;
}
.element__button:hover {
  opacity: 0.5;
}
.element__button:focus {
  background-image: url(../../../images/svg/like-active.svg);
}
