.modal__box {
  margin-top: 195px;
  display: flex;
  justify-content: center;
  align-items: start;
  transform: scale(0);
  transition: transform 0.8s;
}
@media (max-width: 800px) {
  .modal__box {
    margin-top: 170px;
  }
}
@media (max-width: 600px) {
  .modal__box {
    margin-top: 140px;
  }
}
@media (max-width: 400px) {
  .modal__box {
    margin-top: 123px;
  }
}
